body


/* @media (max-width: 600px) {body} */
* {
  box-sizing: border-box;
}

.products {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 12px;
  text-align: center;
}

.products-item {
  height: 580px;
  width: calc(50% - 6px);
  background-color: brown;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Changed from 'repeat' to 'no-repeat' for typical background images */
}

.products-item:nth-child(1) {
  background-image: url(Figure1.png);
}

.products-item:nth-child(2) {
  background-image: url(pro44444.jpg);
  display: none;
}

.products-item:nth-child(3) {
  background-image: url(Figure2.png);
}

.products-item:nth-child(4) {
  background-image: url(Figure3.png);
}

.products-item:nth-child(5) {
  background-image: url(Figure4.png);
}

.products-item:nth-child(10) {
  background-image: url(Figure5.png);
}

.products-item:nth-child(6) {
  background-image: url(Figure6.png);
}

.products-item:nth-child(7) {
  background-image: url(Figure7.png);
}

.products-item:nth-child(8) {
  background-image: url(Figure8.png);
}

.products-item:nth-child(7),
.products-item:nth-child(8) {
  display: none;
}

.products-item:nth-child(9) {
  display: block;
}

.headword {
  color: rgba(0, 0, 0, 1);
  size: 12px;
}

/* Box(1,2,3,4) */
.box1 {
  width: 100%;
  height: 44px;
  gap: 24px;
  background-color: #f5f5f7cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1-head {
  display: flex;
  gap: 24px;
}
.box1-footer {
  display: flex;
  gap: 15.5px;
}

.box2 {
  width: 100%;
  gap: 4px;
  padding: 16px 16px;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  text-align: center;
  size: 14px;
  color: #1d1d1f;
  letter-spacing: 0px;
  background-position: center;
}

.box3 {
  background-image: url(Background1.png);
  width: 100%;
  height: 692px;
  background-repeat: no-repeat; /* Changed from 'repeat' to 'no-repeat' */
  background-position: center;
  background-size: cover;
}

.box3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box3-1-H1 {
  size: 52px;
  color: rgba(245, 245, 247, 1);
  margin-top: 55px;
  margin-bottom: 0;
}

.box3-1-H2 {
  size: 24px;
  color: rgba(245, 245, 247, 1);
  margin-top: 16px;
  font-weight: 400;
}

.buttonbox {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}

.learnmore {
  border: 1px solid #0071e3;
  background-color: #0071e3;
  border-radius: 120px;
  color: #ffffff;
  padding: 10px;
}

.buy {
  border: 1px solid #0071e3;
  background-color: transparent;
  border-radius: 120px;
  color: white;
  padding: 10px;
}

.box4 {
  background-image: url(Background2.png);
  width: 100%;
  height: 692px;
  background-repeat: no-repeat; /* Changed from 'repeat' to 'no-repeat' */
  margin-top: 12px;
  background-size: cover;
  background-position: center;
}

.box5 {
  background-image: url(Box5zurag.png);
  width: 100%;
  height: 692px;
  background-repeat: no-repeat; /* Changed from 'repeat' to 'no-repeat' */
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}
.card-box {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
.box5-title {
  font-family: inter;
  font-size: 52px;
  font-weight: 600;
  color: #000000;
  letter-spacing: -0.28px;
  margin-top: 446px;
}
.box5-text {
  font-family: inter;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

/* box6 */
.box6 {
  background-image: url(Figure1.png);
  width: 942px;
  height: 580px;
  background-repeat: no-repeat;
  margin-top: 12px;
}

.products {
  display: flex;
}

/* 1 */
.card {
  text-align: center;
  margin-top: 48px;
}

.card-img1 {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card-disp {
  font-family: inter;
  size: 18px;
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  letter-spacing: 0px;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-top: 20px;
}

.learnmore {
  border: 1px solid #0071e3;
  background-color: #0071e3;
  border-radius: 120px;
  color: #ffffff;
  padding: 10px 16px;
}

.buy {
  border: 1px solid #2997ff;
  background-color: transparent;
  border-radius: 120px;
  color: #2997ff;
  padding: 10px 16px;
}

.card-text {
  font-size: 14px;
  font-family: inter;
  font-weight: 500;
  text-align: center;
  padding-bottom: 53px;
}

/* 2 */
.products-item--end .card-img {
  color: #f5f5f7;
  font-size: 36px;
  font-weight: 600;
}

.products-item--end {
  justify-content: flex-end;
}

.products-item--end .card-disp {
  color: #f5f5f7;
  size: 18px;
  font-weight: 400;
}

/* 3 */
.watch {
  font-family: inter;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
  letter-spacing: 0px;
}

.products-item .card-img {
  flex-direction: row;
}

.card-series {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: inter;
  padding: 4px 85px;
  margin-top: 4px;
}

.card-img4 {
  font-size: 36px;
  font-family: inter;
  font-weight: 600;
  color: #1d1d1f;
}
/* 5 */
.trade-box {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  padding: 10px;
  font-family: inter;
  size: 18px;
  color: #1d1d1f;
  text-align: center;
}
.estimate-button {
  background-color: #0071e3;
  color: #ffffff;
  border: 1px solid #0071e3;
  border-radius: 120px;
  padding: 10px;
  font-family: inter;
}
/* 7 */

.container7 {
  width: 257px;
  text-align: center;
  margin: auto;
}

.container7-head {
  font-family: inter, san-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1d1d1f;
  padding-top: 42px;
}

.container7-text {
  font-family: inter, san-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  padding-top: 4px;
}
/* 8 */
.container7-head-padding {
  padding-top: 358px;
}

/* tablist */

.tablist {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}
.tablist .tab {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bdbdbd;
  border: none;
  transition: background 0.2s;
  cursor: pointer;
  display: inline-block;
}
.tablist .tab.active {
  background: #222;
}

/* Slides */

.slides-container {
  width: 100%;
  display: flex;
  margin-top: 12px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  gap: 20px;
}
.slides-container::-webkit-scrollbar {
  width: 0;
}

.slides {
  width: 100%;
  height: 668px;
  position: relative;
  display: flex;
  border: 18px;
  gap: 16px;
}

.slide {
  height: 668px;
  object-fit: cover;
}

.footer-container {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.footer-container::-webkit-scrollbar {
  width: 0;
}

.footsection {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  gap: 20px;
}

/* MEDIA */
/* tablet */

@media (max-width: 1000px) {
  .products-item:nth-child(1) {
    width: 100%;
  }
  .products-item:nth-child(2) {
    display: block;
  }

  .products-item:nth-child(3) {
    background-image: url(Figure2.png);
    display: none;
  }

  .products-item:nth-child(6) {
    display: none;
  }

  .products-item:nth-child(7),
  .products-item:nth-child(8) {
    display: block;
  }
  .slides-container .slides img {
    width: 600px;
    height: 370px;
  }
  .slides-container .slides {
    width: 600px;
    height: 370px;
  }
  .footer-container .footsection img {
    width: 280px;
  }

  .box1-head {
    display: none;
  }
  .box1 {
    display: flex;
    justify-content: space-between;
  }
  .box1-footer {
    display: flex;
    gap: 15.5px;
  }
}

/* mobile */
@media (max-width: 600px) {
  .products {
    flex-direction: column;
  }

  .products-direction {
    width: 100%;
  }
  .products-item {
    width: 100%;
  }
  .box3 {
    background-image: url(16pro-mobile.jpg);
    padding-top: 400px;
  }
  .box4 {
    background-image: url(bosoo-mobile.jpg);
  }
  .box5 {
    display: none;
  }

  .slides-container .slides img {
    width: 280px;
  }
  .slides-container .slides {
    width: 280px;
  }
  .footer-container .footsection {
    width: 200px;
  }
  .footer-container .footsection img {
    width: 200px;
  }
}
